@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    margin: 0px;
    font-family: 'Mukta', sans-serif;
}
.header{
    display: flex;
    background-color:#1f2535 ;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:30px;
    justify-content: space-between;
}

.menu{
width:3%;
height:3%;
}